<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teleskop</title>
  <style>
    :root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;

      color-scheme: light dark;
      color: rgba(255, 255, 255, 0.87);
      background-color: #242424;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .list-layout {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: 100vh;
    }

    a {
      text-decoration: none;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .layout-item {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    body {
      background-image: url('eliar-background.jpg');
      background-size: cover;
      overflow: hidden;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="layout">
    <h1 class="title">Teleskop</h1>
    <div class="list-layout">

      <div class="layout-item">
        <a class="list-item" href="<%= withHost(machines) %>">
          <img src="/factory-machine.png" width="100" height="100">
          <h3>Machines</h3>
        </a>
        <a class="list-item" href="<%= withHost(dispensing) %>">
          <img src="/scientific.png" width="100" height="100">
          <h3>Dispensing Manager</h3>
        </a>
        <a class="list-item" href="<%= withHost(programEditor) %>">
          <img src="/writer.png" width="100" height="100">
          <h3>Program Editor</h3>
        </a>

        <a class="list-item" href="<%= withHost(planningBoard) %>">
          <img src="/kanban.png" width="100" height="100">
          <h3>Planning Board</h3>
        </a>
      </div>

      <div class="layout-item">
        <a class="list-item" href="<%= withHost(multiMonitor) %>">
          <img src="/sharing.png" width="100" height="100">
          <h3>Multi Monitor</h3>
        </a>
        <a class="list-item" href="<%= withHost(reporting) %>">
          <img src="/report.png" width="100" height="100">
          <h3>Reporting</h3>
        </a>
        <a class="list-item" style="opacity: 0.4; cursor: initial;">
          <img src="/file.png" width="100" height="100">
          <h3>Archive</h3>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
